body#signUpPage{
	font-family: 'Raleway', sans-serif;
}
#signin {
	background-color: #F6F6F6;
	width: 800px;
	color: black;
	height: 450px;
}
#signin a {
	color: #33ff00;
}
#main {

	width: 700px;
	padding-left: 50px;
	padding-right: 50px;
}
